@import "../variables/colors";

.primary-100 {
  color: $primary-color-100;
}

.primary-200 {
  color: $primary-color-200;
}

.primary-300 {
  color: $primary-color-300;
}

.primary-400 {
  color: $primary-color-400;
}

.primary-500 {
  color: $primary-color-500;
}

.green {
  color: $success-color;
}
