@import "../variables/colors";
@import "../placeholders/borders";

body {
  width: 100vw;
  min-height: 100vh;

  margin: 0;
  padding: 3em 0;

  box-sizing: border-box;
  overflow-x: hidden;

  cursor: default;
  user-select: none;
}

::-webkit-scrollbar {
  width: calc(.5vw + .5vh);
}

::-webkit-scrollbar-thumb {
  background: $primary-color-400;
  border-radius: $border-radius-size;
}
