@import "../variables/typography";
@import "../variables/colors";

%default-typography {
  font-family: $font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;

  color: $text-color;
}

%default-heading {
  @extend %default-typography;

  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}
