$font-family: 'Inter', sans-serif;

// Base
$base-font-weight: 400;
$base-line-height: 125%;
$base-letter-spacing: -0.45px;

$heading-font-weight: 600;
$heading-line-height: 110%;

// Elements
$h1-font-size: 2.074em;
$h1-letter-spacing: -0.933px;

$h2-font-size: 1.728em;
$h2-letter-spacing: -0.778px;

$h3-font-size: 1.44em;
$h3-letter-spacing: -0.648px;

$large-font-size: 1.2em;
$large-letter-spacing: -0.54px;

$small-font-size: 0.833em;
$small-letter-spacing: -0.375px;
